Importing libraries

In [13]:
!pip install apyori

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting apyori
  Downloading apyori-1.1.2.tar.gz (8.6 kB)
  Preparing metadata (setup.py) ... done
Building wheels for collected packages: apyori
  Building wheel for apyori (setup.py) ... done
  Created wheel for apyori: filename=apyori-1.1.2-py3-none-any.whl size=5973 sha256=499a72b9283d567db59b68d6a9730818c2b52acc678f6c8d7494238bb9217eae
  Stored in directory: /root/.cache/pip/wheels/1b/02/6c/a45230be8603bd95c0a51cd2b289aefdd860c1a100eab73661
Successfully built apyori
Installing collected packages: apyori
Successfully installed apyori-1.1.2

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import os

Data preprocessing

In [8]:
dataset=pd.read_csv('transaction.csv',header=None)
dataset.head()

     0    1    2    3    4    5
0    A    B    C    D    E    F
1    A  NaN    C    D    E  NaN
2  NaN  NaN    C    D    E  NaN
3  NaN    B  NaN  NaN  NaN    F
4    A    B    C    D    E    F

In [96]:
dataset.shape

(22, 6)

In [10]:
# converting dataframe to list
transactions = []
for i in range(0, 22):
  transactions.append([str(dataset.values[i,j]) for j in range(0,6)])

In [12]:
transactions[1] # second row of dataset

['A', 'nan', 'C', 'D', 'E', 'nan']

Training the apriori model on the dataset

In [14]:
from apyori import apriori

In [93]:
rules = apriori(transactions, min_support = 0.50, min_confidence = 0.7, min_lift = 1.1, min_length = 2, max_length = 2)

Displaying the results

In [80]:
results = list(rules)
len(results)

5

In [87]:
results[1]

RelationRecord(items=frozenset({'A', 'E'}), support=0.6363636363636364, ordered_statistics=[OrderedStatistic(items_base=frozenset({'A'}), items_add=frozenset({'E'}), confidence=0.875, lift=1.1323529411764706), OrderedStatistic(items_base=frozenset({'E'}), items_add=frozenset({'A'}), confidence=0.8235294117647058, lift=1.1323529411764706)])

In [91]:
def inspect(results):
    l = [tuple(result[2][0][0])[0] for result in results]
    r = [tuple(result[2][0][1])[0] for result in results]
    support = [result[1] for result in results]
    confidence = [result[2][0][2] for result in results]
    lift = [result[2][0][3] for result in results]
    return list(zip(l, r, support, confidence, lift))
    
output = pd.DataFrame(inspect(results), columns = ['Left Hand Side', 'Right Hand Side', 'Support', 'Confidence', 'Lift'])

In [92]:
output

  Left Hand Side Right Hand Side   Support  Confidence      Lift
0              A               C  0.590909    0.812500  1.117188
1              A               E  0.636364    0.875000  1.132353
2              C               D  0.590909    0.812500  1.191667
3              F               C  0.545455    0.800000  1.100000
4              D               E  0.590909    0.866667  1.121569